# Database Connection
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/book_meet?schema=public"

# Authentication
JWT_SECRET="super-secret-jwt-key-change-in-production-2026"

# Application Settings
OFFICE_TIMEZONE="Europe/Kyiv"
NOTIFY_BEFORE_MINUTES="10"
PORT="3000"
